<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">APRESENTAÇÂO DO GRUPO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-footer>
  <ion-toolbar>
  <ion-title>RodaPé</ion-title>
</ion-toolbar>
</ion-footer>
<ion-content>
  <ion-card>
    <ion-card-header>
        <img src="assets/t2.jpeg" class="image card-image" width="200" alt="Descrição da imagem"/>
        <ion-card-title>Nome: Taoní Barbosa Ramos.

          Matrícula: 23203152.
        </ion-card-title>
    </ion-card-header>
</ion-card>
<ion-card>
  <ion-card-header>
      <img src="assets/g.jpeg" class="image card-image" width="200" alt="Descrição da imagem"/>
      <ion-card-title>Nome: Luiz Gustavo Vieira.

        Matrícula: 23204066.
      </ion-card-title>
  </ion-card-header>
</ion-card>
<ion-card>
  <ion-card-header>
      <img src="assets/v.jpeg" class="image card-image" width="200" alt="Descrição da imagem"/>
      <ion-card-title>Nome: Victor Barbosa Moreira.

        Matrícula: 23201450.
      </ion-card-title>
  </ion-card-header>
</ion-card>
    
            
      


